@CHARSET "UTF-8";


.box {
  margin-bottom: 20px;
  position: relative; }
  .box.box-collapsed .box-header .actions .box-collapse i:before {
    content: "\f078"; }
  .box.box-collapsed .box-content {
    display: none; }
  .box .box-header {
    font-size: 21px;
    font-weight: 200;
    line-height: 30px;
    padding: 10px 15px; }
    .box .box-header:after, .box .box-header:before {
      content: "";
      display: table; }
    .box .box-header:after {
      clear: both; }
    .box .box-header {
      *zoom: 1; }
    .box .box-header.contrast-background {
      color: white; }
      .box .box-header.contrast-background .title {
        color: white; }
      .box .box-header.contrast-background .actions .btn-link {
        color: white; }
        .box .box-header.contrast-background .actions .btn-link:hover {
          color: #f34541 !important;
          background-color: white; }
    .box .box-header.orange-background {
      color: white; }
      .box .box-header.orange-background .title {
        color: white; }
      .box .box-header.orange-background .actions .btn-link {
        color: white; }
        .box .box-header.orange-background .actions .btn-link:hover {
          color: #f8a326 !important;
          background-color: white; }
    .box .box-header.blue-background {
      color: white; }
      .box .box-header.blue-background .title {
        color: white; }
      .box .box-header.blue-background .actions .btn-link {
        color: white; }
        .box .box-header.blue-background .actions .btn-link:hover {
          color: #00acec !important;
          background-color: white; }
    .box .box-header.purple-background {
      color: white; }
      .box .box-header.purple-background .title {
        color: white; }
      .box .box-header.purple-background .actions .btn-link {
        color: white; }
        .box .box-header.purple-background .actions .btn-link:hover {
          color: #9564e2 !important;
          background-color: white; }
    .box .box-header.green-background {
      color: white; }
      .box .box-header.green-background .title {
        color: white; }
      .box .box-header.green-background .actions .btn-link {
        color: white; }
        .box .box-header.green-background .actions .btn-link:hover {
          color: #49bf67 !important;
          background-color: white; }
    .box .box-header.red-background {
      color: white; }
      .box .box-header.red-background .title {
        color: white; }
      .box .box-header.red-background .actions .btn-link {
        color: white; }
        .box .box-header.red-background .actions .btn-link:hover {
          color: #f34541 !important;
          background-color: white; }
    .box .box-header.muted-background {
      color: white; }
      .box .box-header.muted-background .title {
        color: white; }
      .box .box-header.muted-background .actions .btn-link {
        color: white; }
        .box .box-header.muted-background .actions .btn-link:hover {
          color: #999999 !important;
          background-color: white; }
    .box .box-header.fb-background {
      color: white; }
      .box .box-header.fb-background .title {
        color: white; }
      .box .box-header.fb-background .actions .btn-link {
        color: white; }
        .box .box-header.fb-background .actions .btn-link:hover {
          color: #3d579d !important;
          background-color: white; }
    .box .box-header.dark-background {
      color: white; }
      .box .box-header.dark-background .title {
        color: white; }
      .box .box-header.dark-background .actions .btn-link {
        color: white; }
        .box .box-header.dark-background .actions .btn-link:hover {
          color: #2b2d30 !important;
          background-color: white; }
    .box .box-header.pink-background {
      color: white; }
      .box .box-header.pink-background .title {
        color: white; }
      .box .box-header.pink-background .actions .btn-link {
        color: white; }
        .box .box-header.pink-background .actions .btn-link:hover {
          color: #c44a83 !important;
          background-color: white; }
    .box .box-header.grass-green-background {
      color: white; }
      .box .box-header.grass-green-background .title {
        color: white; }
      .box .box-header.grass-green-background .actions .btn-link {
        color: white; }
        .box .box-header.grass-green-background .actions .btn-link:hover {
          color: #5daf2b !important;
          background-color: white; }
    .box .box-header.sea-blue-background {
      color: white; }
      .box .box-header.sea-blue-background .title {
        color: white; }
      .box .box-header.sea-blue-background .actions .btn-link {
        color: white; }
        .box .box-header.sea-blue-background .actions .btn-link:hover {
          color: #0163ac !important;
          background-color: white; }
    .box .box-header.banana-background {
      color: white; }
      .box .box-header.banana-background .title {
        color: white; }
      .box .box-header.banana-background .actions .btn-link {
        color: white; }
        .box .box-header.banana-background .actions .btn-link:hover {
          color: #fcd052 !important;
          background-color: white; }
    .box .box-header.dark-orange-background {
      color: white; }
      .box .box-header.dark-orange-background .title {
        color: white; }
      .box .box-header.dark-orange-background .actions .btn-link {
        color: white; }
        .box .box-header.dark-orange-background .actions .btn-link:hover {
          color: #f56e00 !important;
          background-color: white; }
    .box .box-header.brown-background {
      color: white; }
      .box .box-header.brown-background .title {
        color: white; }
      .box .box-header.brown-background .actions .btn-link {
        color: white; }
        .box .box-header.brown-background .actions .btn-link:hover {
          color: #924e31 !important;
          background-color: white; }
    .box .box-header .title {
      float: left;
      color: #3c3c3c; }
    .box .box-header .actions {
      margin-top: -3px;
      float: right; }
      .box .box-header .actions .dropdown-toggle {
        position: relative;
        top: 5px; }
      .box .box-header .actions .btn-link {
        color: #c4c4c4;
        text-decoration: none;
        text-shadow: none; }
        .box .box-header .actions .btn-link:hover {
          color: #f34541; }
      .box .box-header .actions .box-collapse i {
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        text-decoration: inherit;
        -webkit-font-smoothing: antialiased;
        display: inline;
        width: auto;
        height: auto;
        line-height: normal;
        vertical-align: baseline;
        background-image: none;
        background-position: 0% 0%;
        background-repeat: repeat;
        margin-top: 0; }
        .box .box-header .actions .box-collapse i:before {
          content: "\f077"; }
    .box .box-header.box-header-small {
      font-size: 14px;
      font-weight: 200;
      line-height: 19px;
      padding: 10px 10px; }
      .box .box-header.box-header-small .actions {
        margin-top: -1px; }
  .box .box-content {
    padding: 10px;
    border: 1px solid #dddddd;
    background: white;
    display: block;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055); }
    .box .box-content .box-toolbox {
      background-color: #f4f4f4;
      padding: 5px; }
      .box .box-content .box-toolbox:after, .box .box-content .box-toolbox:before {
        content: "";
        display: table; }
      .box .box-content .box-toolbox:after {
        clear: both; }
      .box .box-content .box-toolbox {
        *zoom: 1; }
      .box .box-content .box-toolbox.box-toolbox-top {
        margin: -10px -10px 10px -10px;
        border-bottom: 1px solid #dddddd; }
      .box .box-content .box-toolbox.box-toolbox-bottom {
        margin: 10px -10px -10px -10px;
        border-top: 1px solid #dddddd; }
    .box .box-content.box-no-padding {
      padding: 0; }
      .box .box-content.box-no-padding form {
        margin-bottom: 0; }
    .box .box-content.box-padding {
      padding: 20px; }
      .box .box-content.box-padding .box-toolbox {
        padding: 10px;
        position: relative; }
        .box .box-content.box-padding .box-toolbox.box-toolbox-top {
          margin: -20px -20px 20px -20px; }
        .box .box-content.box-padding .box-toolbox.box-toolbox-bottom {
          margin: 20px -20px -20px -20px; }
    .box .box-content.box-double-padding {
      padding: 40px; }
      .box .box-content.box-double-padding .box-toolbox {
        padding: 20px; }
        .box .box-content.box-double-padding .box-toolbox.box-toolbox-top {
          margin: -40px -40px 40px -40px; }
        .box .box-content.box-double-padding .box-toolbox.box-toolbox-bottom {
          margin: 40px -40px -40px -40px; }
  .box.box-transparent {
    background: none;
    padding: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    .box.box-transparent .box-content {
      background: transparent;
      border: none;
      border-top: 1px solid #dddddd;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
  .box.box-bordered {
    border-style: solid;
    border-width: 2px;
    border-color: #dddddd; }
    .box.box-bordered .box-content {
      border-left: none;
      border-right: none;
      border-bottom: none; }

.box-quick-link {
  text-align: center;
  margin-bottom: 10px; }
  .box-quick-link a {
    text-decoration: none; }
    .box-quick-link a .header {
      height: 40px;
      line-height: 40px;
      padding-bottom: 2px; }
      .box-quick-link a .header [class^="icon-"], .box-quick-link a .header [class*=" icon-"] {
        color: white;
        font-size: 30px;
        vertical-align: middle; }
    .box-quick-link a .content {
      text-transform: uppercase;
      font-size: 85%;
      white-space: nowrap;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      color: #5b5b5b;
      background-color: #dbdbdb;
      border-bottom: 1px solid #cecece;
      padding: 6px; }
    .box-quick-link a:hover .header [class^="icon-"], .box-quick-link a:hover .header [class*=" icon-"] {
      font-size: 40px; }
    .box-quick-link a:hover .content {
      text-decoration: underline;
      border-bottom-color: #c1c1c1;
      background-color: #cecece; }
  .box-quick-link.contrast-background a:active .header {
    background: #f01611; }
  .box-quick-link.contrast-background:hover .header {
    background: #f12e29; }
  .box-quick-link.orange-background a:active .header {
    background: #e48a07; }
  .box-quick-link.orange-background:hover .header {
    background: #f7990d; }
  .box-quick-link.blue-background a:active .header {
    background: #0087b9; }
  .box-quick-link.blue-background:hover .header {
    background: #0099d3; }
  .box-quick-link.purple-background a:active .header {
    background: #7839da; }
  .box-quick-link.purple-background:hover .header {
    background: #864fde; }
  .box-quick-link.green-background a:active .header {
    background: #379e51; }
  .box-quick-link.green-background:hover .header {
    background: #3eb05b; }
  .box-quick-link.red-background a:active .header {
    background: #f01611; }
  .box-quick-link.red-background:hover .header {
    background: #f12e29; }
  .box-quick-link.muted-background a:active .header {
    background: gray; }
  .box-quick-link.muted-background:hover .header {
    background: #8c8c8c; }
  .box-quick-link.fb-background a:active .header {
    background: #2f4378; }
  .box-quick-link.fb-background:hover .header {
    background: #364d8b; }
  .box-quick-link.dark-background a:active .header {
    background: #131415; }
  .box-quick-link.dark-background:hover .header {
    background: #1f2023; }
  .box-quick-link.pink-background a:active .header {
    background: #a5366a; }
  .box-quick-link.pink-background:hover .header {
    background: #b83c76; }
  .box-quick-link.grass-green-background a:active .header {
    background: #478621; }
  .box-quick-link.grass-green-background:hover .header {
    background: #529b26; }
  .box-quick-link.sea-blue-background a:active .header {
    background: #014679; }
  .box-quick-link.sea-blue-background:hover .header {
    background: #015493; }
  .box-quick-link.banana-background a:active .header {
    background: #fbc220; }
  .box-quick-link.banana-background:hover .header {
    background: #fcc939; }
  .box-quick-link.dark-orange-background a:active .header {
    background: #c25700; }
  .box-quick-link.dark-orange-background:hover .header {
    background: #dc6300; }
  .box-quick-link.brown-background a:active .header {
    background: #6c3a24; }
  .box-quick-link.brown-background:hover .header {
    background: #7f442b; }

.box-statistic {
  background-color: white;
  margin-bottom: 5px;
  padding: 5px 10px;
  position: relative; }
  .box-statistic .title {
    margin: 0;
    line-height: 28px; }
  .box-statistic small {
    text-transform: uppercase; }
  .box-statistic [class*="icon-"] {
    font-size: 30px;
    top: 13px; }
    .box-statistic [class*="icon-"].align-left {
      position: absolute;
      left: 10px; }
    .box-statistic [class*="icon-"].align-right {
      position: absolute;
      right: 10px; }
  .box-statistic.contrast-background .title, .box-statistic.contrast-background small, .box-statistic.contrast-background [class*="icon-"] {
    color: white !important; }
  .box-statistic.contrast-background small {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7; }
  .box-statistic.orange-background .title, .box-statistic.orange-background small, .box-statistic.orange-background [class*="icon-"] {
    color: white !important; }
  .box-statistic.orange-background small {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7; }
  .box-statistic.blue-background .title, .box-statistic.blue-background small, .box-statistic.blue-background [class*="icon-"] {
    color: white !important; }
  .box-statistic.blue-background small {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7; }
  .box-statistic.purple-background .title, .box-statistic.purple-background small, .box-statistic.purple-background [class*="icon-"] {
    color: white !important; }
  .box-statistic.purple-background small {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7; }
  .box-statistic.green-background .title, .box-statistic.green-background small, .box-statistic.green-background [class*="icon-"] {
    color: white !important; }
  .box-statistic.green-background small {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7; }
  .box-statistic.red-background .title, .box-statistic.red-background small, .box-statistic.red-background [class*="icon-"] {
    color: white !important; }
  .box-statistic.red-background small {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7; }
  .box-statistic.muted-background .title, .box-statistic.muted-background small, .box-statistic.muted-background [class*="icon-"] {
    color: white !important; }
  .box-statistic.muted-background small {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7; }
  .box-statistic.fb-background .title, .box-statistic.fb-background small, .box-statistic.fb-background [class*="icon-"] {
    color: white !important; }
  .box-statistic.fb-background small {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7; }
  .box-statistic.dark-background .title, .box-statistic.dark-background small, .box-statistic.dark-background [class*="icon-"] {
    color: white !important; }
  .box-statistic.dark-background small {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7; }
  .box-statistic.pink-background .title, .box-statistic.pink-background small, .box-statistic.pink-background [class*="icon-"] {
    color: white !important; }
  .box-statistic.pink-background small {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7; }
  .box-statistic.grass-green-background .title, .box-statistic.grass-green-background small, .box-statistic.grass-green-background [class*="icon-"] {
    color: white !important; }
  .box-statistic.grass-green-background small {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7; }
  .box-statistic.sea-blue-background .title, .box-statistic.sea-blue-background small, .box-statistic.sea-blue-background [class*="icon-"] {
    color: white !important; }
  .box-statistic.sea-blue-background small {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7; }
  .box-statistic.banana-background .title, .box-statistic.banana-background small, .box-statistic.banana-background [class*="icon-"] {
    color: white !important; }
  .box-statistic.banana-background small {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7; }
  .box-statistic.dark-orange-background .title, .box-statistic.dark-orange-background small, .box-statistic.dark-orange-background [class*="icon-"] {
    color: white !important; }
  .box-statistic.dark-orange-background small {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7; }
  .box-statistic.brown-background .title, .box-statistic.brown-background small, .box-statistic.brown-background [class*="icon-"] {
    color: white !important; }
  .box-statistic.brown-background small {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7; }
  .box-statistic:hover [class*="icon-"].align-right {
    right: 15px;
    -webkit-transition: right 0.1s linear;
    -moz-transition: right 0.1s linear;
    -o-transition: right 0.1s linear;
    transition: right 0.1s linear; }
  .box-statistic:hover [class*="icon-"].align-left {
    left: 15px;
    -webkit-transition: left 0.1s linear;
    -moz-transition: left 0.1s linear;
    -o-transition: left 0.1s linear;
    transition: left 0.1s linear; }

.responsive-table {
  position: relative;
  overflow: hidden; }
  .responsive-table .scrollable-area {
    width: 100%;
    overflow: scroll;
    overflow-y: hidden; }
  .responsive-table table td {
    position: relative;
    white-space: nowrap;
    overflow: hidden; }

.box-content.box-no-padding .table-striped th:first-child, .box-content.box-no-padding .table-striped td:first-child {
  border-left: none; }
.box-content.box-no-padding .table-striped th:last-child, .box-content.box-no-padding .table-striped td:last-child {
  border-right: none; }

.background-contrast {
  background: #f34541 !important; }

.text-contrast, .contrast {
  color: #f34541 !important; }

.text-error {
  color: #f34541 !important; }

.text-success {
  color: #49bf67 !important; }

.text-primary {
  color: #00acec !important; }

.text-warning {
  color: #f8a326 !important; }

.text-info {
  color: #9564e2 !important; }

.text-muted {
  color: #999999 !important; }

.text-contrast {
  color: #f34541 !important; }

.contrast-background {
  background-color: #f34541 !important; }

.contrast-border {
  border-color: #f34541 !important; }

.text-orange {
  color: #f8a326 !important; }

.orange-background {
  background-color: #f8a326 !important; }

.orange-border {
  border-color: #f8a326 !important; }

.text-blue {
  color: #00acec !important; }

.blue-background {
  background-color: #00acec !important; }

.blue-border {
  border-color: #00acec !important; }

.text-purple {
  color: #9564e2 !important; }

.purple-background {
  background-color: #9564e2 !important; }

.purple-border {
  border-color: #9564e2 !important; }

.text-green {
  color: #49bf67 !important; }

.green-background {
  background-color: #49bf67 !important; }

.green-border {
  border-color: #49bf67 !important; }

.text-red {
  color: #f34541 !important; }

.red-background {
  background-color: #f34541 !important; }

.red-border {
  border-color: #f34541 !important; }

.text-muted {
  color: #999999 !important; }

.muted-background {
  background-color: #999999 !important; }

.muted-border {
  border-color: #999999 !important; }

.text-fb {
  color: #3d579d !important; }

.fb-background {
  background-color: #3d579d !important; }

.fb-border {
  border-color: #3d579d !important; }

.text-dark {
  color: #2b2d30 !important; }

.dark-background {
  background-color: #2b2d30 !important; }

.dark-border {
  border-color: #2b2d30 !important; }

.text-pink {
  color: #c44a83 !important; }

.pink-background {
  background-color: #c44a83 !important; }

.pink-border {
  border-color: #c44a83 !important; }

.text-grass-green {
  color: #5daf2b !important; }

.grass-green-background {
  background-color: #5daf2b !important; }

.grass-green-border {
  border-color: #5daf2b !important; }

.text-sea-blue {
  color: #0163ac !important; }

.sea-blue-background {
  background-color: #0163ac !important; }

.sea-blue-border {
  border-color: #0163ac !important; }

.text-banana {
  color: #fcd052 !important; }

.banana-background {
  background-color: #fcd052 !important; }

.banana-border {
  border-color: #fcd052 !important; }

.text-dark-orange {
  color: #f56e00 !important; }

.dark-orange-background {
  background-color: #f56e00 !important; }

.dark-orange-border {
  border-color: #f56e00 !important; }

.text-brown {
  color: #924e31 !important; }

.brown-background {
  background-color: #924e31 !important; }

.brown-border {
  border-color: #924e31 !important; }

.list-hover li:hover {
  background-color: #f9f9f9; }

.list-striped li:nth-child(odd) {
  background-color: #f9f9f9; }
.list-striped.list-hover li:hover {
  background-color: #f9f9f9; }

.pager li > a, .pager li > span {
  border-width: 2px; }


